/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    background-image: url(./bilder/bankar_bat_for_biffar_1.0.png);
    background-repeat: no-repeat;
}

.kontainer {
    width: 1000px;
    margin: auto;
    padding: 20px;
}

/* bygga layouten */

.kontainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";
}

header {
    grid-area: sidhuvud;
    background-color: red;
}

main {
    grid-area: artiklarna;
    background-color: blue;
}

aside {
    grid-area: sidebar;
    background-color:chartreuse;
}

footer {
    grid-area:sidfot;
    background-color: yellow;
}

/* sidohuvud */

header {}

header h1 {}

header h2 {}

/* navigation */

header nav {}

header nav a {}

header nav a.aktiv {}

header nav a:hover {}

/* sidans innehåll */

main {}

main article {}

main article h3 {}

main article figure {}

main article figure img {}

main article figure figcaption {}

main article p {}

/* sidebar */

aside {}

aside h4 {}

aside p {}