/* Enkel CSS-reset */
html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
margin: 0;padding:0;
}

/*layouten*/
body{
    background-image: url("./bg.svg");
    background-color: #f1f1f1;
}
.kontainer{
    width: 900px;
    margin: 0px auto 0px;
    padding: 10px;
}

/*huvud */
.kontainer h2 {
    margin-bottom: 15px;
}
.kontainer .intro {
    font-size: 14px;
    margin-bottom:50px;
    text-align: center;
}


/*kolemnerna*/
.kontainer .kolumner-3{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 20px;
}
.kontainer .kolumner-3 .kolumn{
    background-color: white;
    border-radius: 10px;
}
.kontainer .kolumner-3 .kolumn h3{}
.kontainer .kolumner-3 .kolumn p{
    margin-bottom: 15px;
    height:100px;
}
.kontainer .kolumner-3 .kolumn a{}
.kontainer .kolumner-3 .kolumn img{
    width: 100%;
    border-radius: 15px 15px 0 0;
}

