@font-face {
    font-family: font_text;
    src: url(saturno.ttf);
}

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

.kontainer {
    width: 1200px;
    margin: auto;
    font-family: font_text;
    font-weight: 400;
}

.sidhuvud {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px
}

.sidhuvud .meny {
    padding: 10px;
}

.sidhuvud .meny a {
    color: #502314;
    text-decoration: none;
    padding: 10px;
}

.sidhuvud .erbjudande {
    border-radius: 5px;
    border: 2px solid #CC2200;
    padding: 10px;
    text-decoration: none;
    color: #502314;
}

.innehall {}

.innehall h2 {
    font-size: 50px;
}

.innehall .kolumner-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    border-radius: 10px;
}

.innehall .kolumner-3 .hamburgare {}

.innehall .kolumner-3 .hamburgare img {
    width: 100%;
}

.innehall .kolumner-3 .hamburgare img .fix{
    margin-bottom: 50px;
}
